<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Site Pessoal de Murilo</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/murilo.jpg" alt="murilo profile picture"></td>
        <td><h1>Murilo Matsuora</h1>
        <p><em>Adorador de gatos.</em></p>
        <p>Sou um estudante de Ciências da Computação e artista nas horas vagas.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Experiência Profissional</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Período</th>
          <th>Experiência</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023-2026</td>
          <td>Graduando em Bacharelado de Ciências da Computação pela Unesp de Rio Claro</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Habilidades</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Desenvolvimento em iOS</td>
        <td>- Nada -</td>
      </tr>
      <tr>
        <td>Desenvolvimento Web</td>
        <td>⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programação</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Arte</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="hobbies.html">Meus Hobbies</a>
    <a href="contact-me.html">Meu contato</a>
  

</body>